.SideBarContainer{
    position: fixed;
    width: 220px;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    color: white;
    transition: right 0.3s ease-in-out;
    background-color: #181414;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 10px 0 ;
    box-sizing: border-box;

}
.SideBarVisible{
    right: 0px;
    top: 0px;
}
.SideBarHidden { 
    right: -182px;
    top: 0px;
}
.UpperSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SideBarButton {
    position: absolute;
    font-size: 1.5em;
    transition: all 0.3s ease-in-out ;
    left: 7px;
    cursor: pointer;
}

.SideBarCloseOpen{
    left: -30px;
}
.SideBarCloseClose{
    opacity: 0;
}
.SideBarButtonOpen{
    left: -30px;
    opacity: 0;
}

.clockAppTitle {
    font-size: 2.5em;
    
}
.Nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.NavItem {
    display: flex;
    font-size: 22px;
    gap: 10px;
    text-transform: uppercase;
    justify-content: left;
    padding:8px;
    cursor: pointer;
}
.NavItemSelected{
    border-left: 1px solid ;

}
.NavItemIcon{
    
}
.NavItemText {

}

.LowerSection {
    
}
.GithubProfile{
    display: flex;
    font-size: 22px;
    gap: 10px;
    padding:8px;
    justify-content: left;
    cursor: pointer;
    text-decoration:none;
    color:white;
}